{% extends "base.html" %}
{% load i18n %}

{% block content %}


<form method="post">
  {% csrf_token %}
  <div class="login-background">
    <div class="login-position"> 
      <div style="justify-content:center;"class="d-flex  align-items-center flex-column login-margin">
        
      </div>
      <div class="container card col-md-4 mb-5 login-container" style="float: none; margin:0 auto;">
        <div style="justify-content:center;"class="d-flex  align-items-center flex-column login-container-content" >
          
          {% if process == "connect" %}
          <span style="font-size: 4rem;" >{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</span>
          <br>
          
          
          {% else %}
          
          <span style="font-size: 4rem;">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</span>
          
          <br>
          
          {% endif %}
          <br>
          <button type="submit" class="mb-5 login-button">{% trans "Continue" %}</button>
          
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}