{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<form method="post">
  {% csrf_token %}
  <div class="login-background">
    <div class="login-position"> 
      <div style="justify-content:center;"class="d-flex  align-items-center flex-column login-margin">
        
      </div>
      <div class="container card col-md-4 mb-5 login-container" style="float: none; margin:0 auto;">
        <div style="justify-content:center;"class="d-flex  align-items-center flex-column login-container-content" >
          
        <span style="font-size: 4rem;">{% trans "Sign Up" %}</span>
        <br>
        <span style="font-size: 2rem;"> 거의 다 완료 되었습니다! 아래사항을 기입해주세요!</span>
        <br>
        <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
            {{ form.as_table }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="mb-5 login-button" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}