{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="background d-flex flex-column">
    <div class="container card">
        <div class="fix-title ">비밀번호 변경</div>
        <div class="d-flex flex-column align-items-center ">
            <form method="POST" class="d-flex flex-column" >
                {% csrf_token %}
                {{ form }}
                <button class="password-finish-btn" type="submit">변경완료</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}