{% extends 'base.html' %}
{% load static %}
{% block content %}



<!-- <div class="login-background">
  <form action="{% url 'account:login' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">로그인</button>
  </form>
  <a href="/accounts/naver/login/?process=login">네이버로그인</a> -->

<div class="login-background">
  <div class="login-position"> 
    <div class="d-flex justify-content-center align-items-center flex-column login-margin">
      <img src="{% static 'img/logo.png' %}">
    </div>
    <div class="container card col-md-4 mb-5 login-container" style="float: none; margin:0 auto;">
      <div class="d-flex justify-content-center align-items-center flex-column login-container-content" >
          <form class="form-block text-center w-30" method="POST" action="{% url 'account:login' %}">
              <div class="login-field">
                {% csrf_token %}
                {%if form.errors%}
                        {{ form.non_field_errors }}
                {% endif %}
              </div>

              <div class="form-group mb-5">
                  <input class="form-control input-lg input-style" name="username" type="text" maxlength="30" placeholder="ID"  required/>
              </div>
              <div class="form-group mb-5">
                  <input class="form-control input-lg input-style" name="password" type="password" maxlength="30" placeholder="PASSWORD" required/>
              </div>
              <button type="submit" class="mb-5 login-button">로그인</button>
          </form>
          <div style="margin-bottom: 1rem; font-size: 1.5rem;">
            <a href="/account/recovery/id/" style="color: #080808 !important;">아이디 찾기 / </a>
            <a href="/account/password_reset/" style="color: #080808 !important;">비밀번호 찾기</a>
          </div>
          <div style="margin-bottom: 2rem; font-size: 1.8rem;">
            <a href="/account/signup" style="color: #080808 !important; text-decoration: underline;">앗, 아직 계정이 없으신가요?</a>
          </div>
        <a href="/accounts/naver/login/?process=login"><img src="{% static 'img/naver_logo.png' %}" style="width:15rem;height:4rem;" ></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}