{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if user.type == '일반 사용자'  %}
    <div class="detail-background">
        <div class="detail-info-panel">
            <img src="{{user.user_img}}"  class="detail-user-img" alt="...">
            <div class="detail-user-name">{{user}}<p>님</p></div>
            <div class="detail-user-nickname">{{user.nickname}}</div>
            <div class="detail-user-mileage">{{user.mileage}}<i class="fas fa-coins"></i></div>
        </div>    
        <div class="detail-user-count">
            <div>내가 쓴 리뷰</div>
            <div>({{user.review_set.all.count}})</div>
        </div>
        <div class="container">
            {% for review in user.review_set.all %}
                <div class="col-md-3 col-sm-4 col-xs-6 detail-card">
                    <div class="detail-movie">
                        <img src="{{review.movie.poster.url}}"  class="card-img-top" alt="...">
                        <div class="d-grid gap-2 detail-card-info">
                            <div class="movie-title">{{review.movie.title}}</div>
                            <div class="movie-review-title">{{review.title}}</div>
                            <a href="{% url 'theater:review_detail' pk=review.pk %}"><button class="detail-review">리뷰바로가기</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}


{% if user.type == '제작사'  %}
    <div class="detail-background">
        <div class="detail-info-panel">
            <img src="{{user.user_img}}"  class="detail-user-img" alt="...">
            <div class="detail-user-name">{{user}}<p>님</p></div>
            <div class="detail-user-nickname">{{user.nickname}}</div>
        </div>    
        <div class="detail-user-count">
            <div>등록한영화</div>
            <div>({{user.movie_set.all.count}})</div>
        </div>
        <div class="container">
            {% for movie in user.movie_set.all %}
                <div class="col-md-3 col-sm-4 col-xs-6 detail-card">
                    <div class="detail-movie">
                        <img src="{{movie.poster.url}}"  class="card-img-top" alt="...">
                        <div class="d-grid gap-2 detail-card-info">
                            <div class="movie-title">{{movie.title}}</div>
                            {% if movie.comeout == '미개봉 및 제작중' %}
                            <a href="{% url 'theater:preview_detail' pk=movie.pk %}"><button class="detail-review">영화 디테일로 바로가기</button></a>
                            {% else %}
                            <a href="{% url 'theater:movie_detail' pk=movie.id  %}"><button class="detail-review">영화 디테일로 바로가기</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}


{% endblock %}