{% extends "base.html" %}
{% block content %}



<div class="login-background">
    <div class="login-position"> 
      <div class="d-flex justify-content-center align-items-center flex-column login-margin">
        
      </div>
      <div class="container card col-md-4 mb-5 login-container" style="float: none; margin:0 auto;">
        <div class="d-flex justify-content-center align-items-center flex-column login-container-content" >
            <body class="text-center">
                <h1>비밀번호 변경</h1>
                <br>
                <form action="" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}  <!-- 필드 오류를 출력한다. -->
                            <div class="alert alert-danger">
                                <strong>{{ field.label }}</strong>
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}   <!-- 넌필드 오류를 출력한다. -->
                        <div class="alert alert-danger">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            

                <div class="form-group">
                    <label style="display: flex; font-size:1.5rem;" for="id_new_password1">새 비밀번호</label>
                    <input type="password" class="form-control input-lg input-style" name="new_password1" id="id_new_password1"
                        placeholder="PASSWORD" required="" autocomplete="new-password">
                </div>
                <div class="form-group">
                    <label style="display: flex; font-size:1.5rem;" for="id_new_password2">새 비밀번호(확인)</label>
                    <input type="password" class="form-control input-lg input-style" name="new_password2" id="id_new_password2"
                        placeholder="PASSWORD CONFIRM" required="" autocomplete="new-password">
                </div>
                <br>
                <button type="submit" class="btn-dark input-lg input-style" style="position: relative; top: 0rem; " phone="recovery_id">바말번호 변경</button>

                
            </form>
            
            </body>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
