{% extends "base.html" %}
{% block content %}



<div class="login-background">
    <div class="login-position"> 
      <div style="justify-content:center;"class="d-flex  align-items-center flex-column login-margin">
        
      </div>
      <div class="container card col-md-4 mb-5 login-container" style="float: none; margin:0 auto;">
        <div style="justify-content:center;"class="d-flex  align-items-center flex-column login-container-content" >
          <span style="font-size: 4rem;">메일보내기 성공</span>
          <span style="font-size: 2.6rem;">이메일을 확인해보세요</span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
