{% extends "base.html" %}
{% block content %}



<div class="login-background">
    <div class="login-position"> 
      <div class="d-flex align-items-center flex-column login-margin">
        
      </div>
      <div class="container card col-md-4 mb-5 login-container" style="float: none; margin:0 auto;">
        <div class="d-flex align-items-center flex-column mb-5" >
            <form class="form-block text-center w-30" method="POST" action="{% url 'account:password_reset' %}">
                <br>
                <span style="font-size: 3.6rem;">비밀번호 찾기</span>
                <br>
                <br>
                {% csrf_token %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}  <!-- 필드 오류를 출력한다. -->
                            <div class="alert alert-danger">
                                <strong>{{ field.label }}</strong>
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}   <!-- 넌필드 오류를 출력한다. -->
                        <div class="alert alert-danger">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="form-group">
                    <label style="display: flex; font-size:1.5rem;" for="username">사용자ID</label>
                    <input type="text" class="form-control input-lg input-style" name="username" id="username"
                        placeholder="ID" value="{{ form.username.value|default_if_none:'' }}">
                </div>
                <div class="form-group">
                    <label style="display: flex; font-size:1.5rem;" for="email">등록한 이메일</label>
                    <input type="text" class="form-control input-lg input-style" name="email" id="email"
                    placeholder="EMAIL"value="{{ form.email.value|default_if_none:'' }}">
                </div>
                <button type="submit" class="btn-dark input-lg input-style" style="position: relative; top: 0rem; padding-top: 1rem;" phone="recovery_id">이메일 전송하기</button>
            </form>          
        </div>
      </div>
    </div>
  </div>

{% endblock %}

<!-- <form method="post" action="{% url 'account:password_reset' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">회원가입</button>
</form> -->
<div class="login-background">
    <div class="container">
        <h4 class="border-bottom pb-2 my-3">비밀번호 찾기</h4>

        <form method="post" class="post-form" action="{% url 'account:password_reset' %}">
        <!-- action 속성은 생략 가능 -->
            {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}  <!-- 필드 오류를 출력한다. -->
                        <div class="alert alert-danger">
                            <strong>{{ field.label }}</strong>
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}   <!-- 넌필드 오류를 출력한다. -->
                    <div class="alert alert-danger">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="form-group">
                <label for="username">사용자ID</label>
                <input type="text" class="form-control" name="username" id="username"
                    value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
                <label for="email">등록한 이메일</label>
                <input type="text" class="form-control" name="email" id="email"
                    value="{{ form.email.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="btn btn-primary">이메일 전송</button>
        </form>
    </div>
</div>