{% extends "base.html" %}
{% block content %}



<div class="login-background">
    <div class="login-position"> 
      <div style="justify-content:center;"class="d-flex  align-items-center flex-column login-margin">
        
      </div>
      <div class="container card col-md-4 mb-5 login-container" style="float: none; margin:0 auto;">
        <div style="justify-content:center;"class="d-flex  align-items-center flex-column login-container-content" >
          <span style="font-size: 4rem;">비밀번호 초기화 완료</span>
          <br>
          <span style="font-size: 1.7rem;"> 새 비밀번호가 설정되었습니다 </span>
          <br>
          <a style="font-size: 1.7rem;" href="{% url 'account:login'%}"> 로그인 하러가기 </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



