{% extends "base.html" %}
{% block content %}



<div class="login-background">
    <div class="login-position"> 
      <div class="d-flex justify-content-center align-items-center flex-column login-margin">
        
      </div>
      <div class="container card col-md-4 mb-5 login-container" style="float: none; margin:0 auto;">
        <div class="d-flex justify-content-center align-items-center flex-column login-container-content" >
            <h1>메일보내기성공!</h1>
            <h2>이메일을 확인해보세요</h2>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
