{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- <div>아이디: {{form.username}}</div>
<div>별명:{{form.nickname}}</div>
<div>전화번호:{{form.phone}}</div>
<div>이메일:{{form.email}}</div>
<input type="submit" value="submit"/>
<button type="submit" class="btn btn-primary">등록</button> -->

<h1>User Edit</h1>

<form method="POST">
    {% csrf_token %}

    <div>아이디: {{form.username}}</div>
    <div>별명:{{form.nickname}}</div>
    <div>전화번호:{{form.phone}}</div>
    <div>이메일:{{form.email}}</div>
    <input type="submit" value="Submit"/>
</form>


<form action="{% url 'account:user_delete' %}" method="POST">
    {% csrf_token %}
    <button class="user-del-btn">회원탈퇴</button>
</form>

<a href="{% url 'account:change_password' %}"><button class="user-fix-btn">비밀밀호 변경</button></a>
{% endblock %}