{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="background ">
    <div class="container card">
        <div class="d-flex flex-column align-items-center " style="height: 65rem;justify-content:center;">
            <div class="fix-title ">회원정보수정</div>
            <form id="update" method="POST">
                {% csrf_token %}
                
                <div class="form-group mb-3">
                    <input class="form-control input-lg input-style-no-shadow" type="text" maxlength="30" placeholder={{form.nickname}}
                </div>
                <div class="form-group mb-3">
                    <input class="form-control input-lg input-style-no-shadow" type="text" maxlength="30" placeholder={{form.phone}}
                </div>
                <div class="form-group mb-3">
                    <input class="form-control input-lg input-style-no-shadow" type="text" maxlength="30" placeholder={{form.email}}
                </div>
                
            </form>
            <div>
                <button class="user-fix-btn" type="submit" form="update">수정완료</button>
                <a href="{% url 'account:change_password' %}"><button class="user-fix-btn">비밀밀호 변경</button></a>
            </div>
            <form action="{% url 'account:user_delete' %}" method="POST">
                {% csrf_token %}
                <button class="user-fix-btn">회원탈퇴</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}