@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url(business_list.css);
@import url(business_detail.css);
@import url(business_search.css);
@import url(chart_list.css);
@import url(login.css);
@import url(form.css);
@import url(business_detail.css);
@import url(business_list.css);
@import url(business_search.css);
@import url(review_detail);
@import url(base.css);
@import url(preview.css);
@import url(mypage.css);
.navbar {
  margin: 0 !important;
  padding: 0.5rem 5rem !important;
  font-size: 1.3rem;
  background-color: #f5f4f2;
}

.navbar::before,
.navbar::after {
  content: none !important;
}

.navbar-collapse {
  padding-left: 3.5rem !important;
}

.nav_left {
  width: 25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.nav_left img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.navbar-nav > li:hover {
  border-bottom: 0.1rem solid black;
}

ul {
  list-style: none;
}

.dropdown-menu {
  min-width: 100px !important;
}

.dropdown-menu a {
  margin: 0;
}
.footer {
  padding: 1rem;
  background-color: #000000;
  color: #fff;
}
html {
  font-size: 62.5%;
}
