@import url(business_list.css);
@import url(business_detail.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.navbar {
  display: flex;
  padding: 20px 0;
  font-weight: bold;
  background-color: #f5f4f2;
}

.nav_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.nav_left img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav_right {
  display: flex;
  flex-direction: row;
}
.nav_right a {
  margin-left: 18px;
}

.nav_right a:hover {
  border-bottom: 1px solid black;
}

ul {
  list-style: none;
}
