.business_detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 3px solid #707070;
  border-bottom: 3px solid #707070;
  padding: 1rem 0px;
  font-size: 1.4rem;
  align-items: center;
}

.business_detail p {
  margin: 0;
}

.business_detail_left {
  font-size: 1.8rem;
}

.business_detail_right {
  display: flex;
  flex-direction: row;
}

.business_detail_right p {
  margin-left: 0.8rem;
}

.business_detail_right i {
  margin-right: 0.4rem;
}

.business_detail_content {
  padding: 1.2rem 0;
}

.business_list {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.business_list button {
  background-color: #c1c1a0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
}
