.helptext li {
  margin-bottom: 0.3rem;
  color: red;
}

.password-finish-btn {
  margin-top: 1.5rem;
  color: white;
  background-color: black;
  padding: 0.2rem 1.5rem;
  border-radius: 3rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

.helptext ul {
  list-style: disc;
}
