section {
  background-color: #f5f4f2;
}

.section {
  background-color: #f5f4f2;
  display: flex; 
  justify-content: center;
}

.movie_vl {
  border-left: 6px solid #000000;
  height: 20px;
  position: absolute;
  margin-left: -3px;
}

.flex {
  display:flex;
  justify-content: space-between;
}

.movie_board-search {
  border-bottom: 1px solid #707070;
  margin-bottom: 4rem;
  width: 13rem;
  display: flex;
}

.movie_board-search i {
cursor: pointer;
}

.movie_board-search button {
  background-color: #f5f4f2;
  border: none;
}

.movie_board-search input {
  border: none;
  background-color: #f5f4f2;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #6A7A84 !important;
}

.sw{
  background-image: none !important;
}

.next,.prev{
  width: 2.5rem !important;
  height: 2.5rem !important;
}

