section {
  background-color: #f5f4f2;
}

.section {
  background-color: #f5f4f2;
  display: flex; 
  justify-content: center;
}

.movie_vl {
  border-left: 6px solid #000000;
  height: 20px;
  position: absolute;
  margin-left: -3px;
}

.flex {
  display:flex;
  justify-content: space-between;
}

.movie_board-search {
  /* border-bottom: 1px solid #707070; */
  margin-bottom: 4rem;
  width: 20rem;
  display: flex;
}

.movie_board-search i {
cursor: pointer;
}

.movie_board-search button {
  background-color: #f5f4f2;
  border: none;
}

.movie_board-search input {
  border: none;
  background-color: #f5f4f2;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #6A7A84 !important;
}

.sw{
  background-image: none !important;
}

.next,.prev{
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.movie_chart_border{
  background-color: white;
}

a>.card:hover{


  
  transition:all 0.5s;
  overflow: hidden;
  transform: scale(1.05);
}@media screen and (max-width: 480px) {
  #movie_search{
      margin-left:0!important;
      width: 8rem!important;;
      height:5.3rem!important;
      right:4.5rem!important;
  }
  #movie_search > button{
    padding-left: 0rem;
    padding-bottom:5rem;
  }
  #star-zone{
    margin-left:0!important;
  } 
  /* a>div>.card-img-top{
    min-height:80rem;
    max-width: 100rem;;
    margin-left:2.5rem;
    margin-top:1rem;
  } */
  .main-img>img{
    margin-top:9.3rem!important;
  }
  #movie_chart_img{
    min-height: 80rem!important;;
    max-height:100rem!important;
    height:auto!important;
    max-width:100rem;
    margin-left:2rem;
    margin-top:3rem;
  }
}