@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


.enroll{
    font-family: 'Pretendard';
    background-color: #F5F4F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left_text:hover{
    transition:all 0.5s;
  overflow: hidden;
  transform: scale(1.05);
}

.movieenroll{
    font-family: 'Pretendard';
    background-color: #F5F4F2;
    display: flex;
    flex-direction: column;
    
}
.movieenroll{
    font-family: 'Pretendard';
    background-color: #F5F4F2;
    display: flex;
    flex-direction: column;
    
}
html{
    background-color: #F5F4F2;
}
.title{
    font-size: 2.9rem;
    color:rgb(112,112,112);
    font-weight: bold;
    
    background-color: #F5F4F2;
    text-align: center;
    padding-top: 5rem;
    padding-right: 99rem;
}

.main_text{
    font-size: 2.6rem;
    color:rgb(112,112,112);
    font-weight: bold;
    margin-bottom:1rem;
    max-width: 50rem;
}

.plus_text{
    font-size:1.3rem;
    color:rgb(112,112,112);
    opacity: 47%;
    
}
.sub_text{
    font-size:1.9rem;
    margin-bottom:0.8rem;
    max-width: 80rem;
}
.form_text{
    margin-bottom:4rem;
    margin-top:1.5rem;
    padding-left:11rem;
    text-align: center;
}
.form_text .main_text{
    padding-left:30rem;
    color:#ffc83d
}
.reviewform_block{
    height:17rem;
    display: flex;
    flex-direction: column;
    margin-top:3rem;
    font-family: 'Pretendard';
    width: 80rem;
}
.form_block{
    height:auto;
    display: flex;
    flex-direction: column;
    margin-top:3rem;
    font-family: 'Pretendard';
    width: 37rem;
}
.form_block:after{
   
    content: "";
    display: block;
    width: 58rem;
    border-bottom: 1px solid #bcbcbc;
    margin-top: 3.6rem;
    
  }
.reviewform_block{
    height:17rem;
    display: flex;
    flex-direction: column;
    margin-top:3rem;
    font-family: 'Pretendard';
    width: 80rem;
}
.reviewform_block:after{
   
    content: "";
    display: block;
    width: 80rem;
    border-bottom: 1px solid #bcbcbc;
    margin-top: 3.6rem;
    
  }
.form_line{
    display:flex;
    
}
.line_bottom{
    content: "";
    display: block;
    width: 108rem;
    border-bottom: 1px solid #bcbcbc;
    height:1px;
    
}
.cutline{
    content: "";
    display: block;
    height: 10rem;
    border-right: 1px solid #bcbcbc;
    margin-right:5.6rem;
    margin-top:5rem;
    margin-left:1.5rem;
    
}
.form_line .form_block:after{

    opacity: 0%;
}
.form-input{
    font-size:1.5rem;
    height:4rem;
}
.form-contentinput{
    font-size:1.5rem;
    height:12rem;
    
}
#id_poster{
    max-width: 40rem;
}

#no_enroll{
    
    width: 15rem !important;;
    height: 5rem !important;
    font-size: 2rem;
    border-radius: 1.5rem;
    font-weight: bold;
}

#yes_enroll{
    
    width: 15rem!important;;
    height: 5rem !important;
    font-size: 2rem;
    border-radius: 1.5rem;
    border-color: #707070;
    font-weight: bold;
}

.button_area{
    width:60rem;
    display: flex;
    margin-top:2rem;
    margin-bottom: 2rem;
    justify-content: space-around;
}

.form-input{
    border: 0.1rem solid;
    
}
.totalform{
    display: flex;
    flex-direction: row;
    background-color: #F5F4F2;
}
.left_bar{
    width:32rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}
.left_text{
    width:23rem;
    background-color: #FBFAF9;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 3.5rem;
    border: 1px solid #707070;
    min-height:20rem;
    box-shadow: 1px 1px 1px 1px gray;
    

}
.left_main{
    padding-top: 2rem;;
    font-size:2.1rem;
    font-weight: bolder;
    
}

.left_sub{
    margin-top: 2rem;
    font-size:1.4rem;
}

textarea{
    width: 800px;
    height: 380px;
}

.form_line{
    width:110rem;
}
@media screen and (max-width: 1024px) {
    html {
      font-size: 62.5%!important;
      
    }
    .note-editor{
        width: 800px;
       
        
    }
  }
  
  @media screen and (max-width: 900px) {
    html {
      font-size: 52.5%!important;
    }
    .note-editor{
        width: 600px ;
        
    }
  }
  
  @media screen and (max-width: 768px) {
    html {
      font-size: 42.5%!important;
    }  
    .note-editor{
        width: 400px;
        
    }
  
  @media screen and (max-width: 480px) {
    html {
      font-size: 22.5%!important;
      
    } 
    .note-editor{
        width: 200px;
       
    }
    .left_sub{
        display: none;
    }
    .left_bar{
        display: none;
    }
    .enroll{
        padding-left:14rem;
    }
    .cutline{
        display: none;
    }
    #no_enroll{
        padding-right: 12rem;
        padding-bottom:5.5rem;
    }
    #yes_enroll{
        padding-right: 12rem;
        padding-bottom:5.5rem;
    }
    .plus_text{
        display: none;
    }
    .movieenroll>.form_line >.form_block{
        margin-right:16rem;
    }
    .movieenroll{
        margin-left:3rem;
    }
    .form_line>.form_block>.sub_text{
        max-width: 50rem;
    }
    input{
        font-size: 5px;;
    }
 }
  }
.alertcard{
    position: absolute;
    margin-left:41%;
    margin-top:21%;
}
.fix_bar{
    position:fixed;
}
@media screen and (max-width: 1400px) {
    .fix_bar{
        display: none;
    }

}