.main-img {
  /* background-image: ""; */
  background-color: #f5f4f2;
  width: 100%;
  height: auto;
  text-align: center;
}

.main-title {
  font-weight: bold;
}

.main_foot_flex{
  display: flex;
  flex-direction: row;
  align-items: center;

}