.text-start {
    font-weight: bold;
    font-size:xx-large;
}

.text-center {
    line-height: 2.0;
}

.review_title{
    font-weight: 550;
}

.movie_title {
    font-weight: 450;
}

.movie_detail_hr {
    height:1px;
    border:none;
    background-color:#333;
}

.sd {
    box-shadow: none;
}


.movie_list_button{
    background-color: black;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
  }

  .moviedetitle{
    font-size: 3rem !important;
    font-weight:bolder;
    margin-right:1rem;
    margin-left:1rem;
    margin-top: 5rem;
  }


  .moviedelistbtn{

    background-color: black !important;
    margin-top:5rem !important;
    /*margin-left: 37rem;
    margin-right:37rem;*/
    border-radius: 50rem !important;
    color:white !important;
    font-family: 'Pretendard' !important;
    padding-left: 5rem !important;
    padding-right: 5rem !important; 
    padding-bottom: 0.6rem !important;
    padding-top: 0.6rem !important;
    font-size: 1.5rem !important;
    letter-spacing: 0.2rem !important;
    text-align: center !important;
}


.moviedehr{

    width: 98%;
    height:1px;
    border:none;
    background-color: rgba(0, 0, 0, 0.25);
}