.text-start {
    font-weight: bold;
    font-size:xx-large;
}

.text-center {
    line-height: 2.0;
}

.review_title{
    font-weight: 550;
}

.movie_title {
    font-weight: 450;
}

.movie_detail_hr {
    height:1px;
    border:none;
    background-color:#333;
}

/* .diagonal {
width: 5px;
height: 100px;
background-color: black;
transform: rotate(75deg);
}
.floating { 
    position: fixed; 
    left: 0; 
    top: 7rem; 
    margin-right: -720px; 
    text-align:center; 
    width: 120px; 
}
.rating {
    background-color: #F89501;
} */
