.predesize{

    width:90rem;

}

.prefont{
    font-family: 'Pretendard';


}

.predebtn{
    background-color: black;
    border-radius: 50rem;
    color:white !important;
    font-family: 'Pretendard';
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: right !important;
    float: right;


}



.preview_detail_image{

    display: flex;

    flex-direction: row;

  
  

}

.preview_detail_image_item{

    text-align: right;
    float: right;
    font-size: 4.5rem !important;
    font-weight:bolder;
    margin-right:1rem;

}

.fundinglink{
    text-align: right;
    margin-right: 1rem;
}

.predefontsize{
    font-size: 2rem !important;
    font-weight:300;
    margin-left:1rem;
}

.predetitle{

    font-size: 3rem !important;
    font-weight:bolder;
    margin-right:1rem;
    margin-left:1rem;
    margin-top: 5rem;

}