.floatBox-left{
    float:left !important;
}

.floatBox-right{
    float:right !important;
}

.floatBox-center{
    margin: 0 auto;
}

#container{
    text-align: center;
}

.comment-position{
    position:relative;
    top:-20px;
}
.movie-position{
    position:relative;
    top: -45px;
    left: 10px;
    
}
.user-position{
    position:relative;
    top:5px;
    left: 1rem;
}

.user-position-or{
    position:relative;
    top:5px;
    left: 2rem;
}

.user-icon-position{
    position:relative;
    top:5px;
    left: 0.5rem;
}

.review_detail_user_icon{
    position: relative;
    top: -3px;
    width: 3rem;
    height: 3rem;
}


#next,#prev{
    width: 25px !important;
    height: 25px !important;
}
.prev-button-position{
    position:relative;
    top:-160px;
    left: -15px;
}
.next-button-position{
    position:relative;
    top:-160px;
    right: -15px;
}


.like-container{
    display: flex;
    justify-content: center;
}

.page-section-background{
    background-color: #F5F4F2;
    min-height: 91vh;
    height: 100%;
}

.review_detail_card{
    min-height: 500px;
    height: auto;
}

.review-card-body {
  display: flex;
  flex-direction: column;
}

.movie-review-comment {
  margin-top: auto;
}

.like-position{
    position:relative;
    top:180px;
}
.like{
    width: 54px;
    height: 42px;
    
}

.like-count{
    font-size:28px;
    position:relative;
    top:0px;
    right: 15px;
}
.posted-at{
    color: #939698;
}

.movie-button{
    display:inline-block;
    background-color: black;
    border: none;
    border-radius: 2.5rem;
    color:white;
    margin: 15px;
    padding: 5px 10px 5px 10px;

    
    clear:both;
    text-align: center;
      
} 

.d-inline{
    display: inline;
    position: relative;
    font-size: 20px;
    top: -13px;
    right: 10px;

}


/* review_board */

.review_board_card{
    min-height: 280px;
    height: auto;
}

.cut-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    
    -webkit-line-clamp:3; /* 표시하고자 하는 라인 수 */
    -webkit-box-orient: vertical;
}

.swiper-container {
	max-height:320px;
    height: 100%;
}

/* .swiper-button-next {
background-image: none !important;
background: url(/static/img/next.png) no-repeat !important;
height: 34px !important;
}
  
.swiper-button-prev {
background-image: none !important;
background: url(/static/img/next.png) no-repeat !important;
height: 34px !important;
}
  
.swiper-button-next::after,
.swiper-button-prev::after {
display: none;
}
 */

.pagination-center{
    display: flex !important;
    justify-content: center;
}

.txt_line {
    max-width:100px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

@media (max-width: 499px) {
    .txt_line {
      max-width: 150px;
    }
}
@media (min-width: 500px) and (max-width: 575px) {
    .txt_line {
      max-width: 250px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .txt_line {
      max-width: 250px;
    }
    
}
@media (min-width: 768px) and (max-width: 991px) {
    .txt_line {
      max-width: 160px;
    }
    
}
@media (min-width: 992px) and (max-width: 1199px) {
    .txt_line {
      max-width: 130px;
    }
    
}
@media (min-width: 1200px) {
    .txt_line {
      max-width: 100px;
    }
}    
