.fix-title {
  font-size: 2.9rem;
  color: rgb(112, 112, 112);
  font-weight: bold;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.user-del-btn {
  margin-top: 0.5rem;
  color: white;
  background-color: black;
  padding: 0.2rem 1.5rem;
  border-radius: 3rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

.fade.show {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
