{% extends 'base.html' %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="title" style="padding-right: 51rem;">영화제 지원사업 게시판</div>
<div class="enroll">
    
<table>
    <div class="reviewform_block">
        <div class="main_text">제목📌</div>
        <div class="sub_text">영상을 대표할 수 있거나 영상의 타이틀 제목을 적어주세요</div>
       {{form.title}}
   </div>
<!-- <div class="form_block"> 
    <div class="main_text">이미지🖐</div>
    <div class="sub_text">내용과 관련된 이미지를 업로드하세요</div>
    
    {{form.image}}
    <div class="plus_text" >파일 형식은 jpg 또는 png 또는 gif로,
        사이즈는 가로 200px, 세로 200px 이상으로 올려주세요.</div>
</div> -->

<div class="reviewform_block" style="height:60rem;">
    <div class="main_text" style="margin-top: 2rem;">내용🖐</div>
    <div class="sub_text" style="margin-bottom: 2rem;">영화제 혹은 지원사업과 관련된 정보를 담고 있는 내용물을 작성해주세요!</div>
    {% csrf_token %}
    {{form.media}}
    {{form.content}}
</div>

</table>
<div class="button_area" >
    <input id="no_enroll" type="button" value="취소하기" class="btn btn-dark" onClick="history.go(-1)"> 
    <input id="yes_enroll"type="submit" class="btn btn-light"value="등록하기">
    
    
    </div>
    
    </div>
</form>
{% endblock%}
</div>