{% extends 'base.html' %}

{% block content %}
<div class="background">
    <div class="business"> 
        <div class="board-header-title">영화제 지원사업 게시판</div>
        <div style="display: flex; justify-content: flex-end;">
            <form  method="POST" action="{% url 'theater:business_search' %}">
                {% csrf_token %}     
                <div class="board-search">
                    <input placeholder="검색어를 입력하시오"  name="searched"/>
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="board-header-count">{{businesses.count}}개의 글</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    <th scope="col">조회수</th>
                </tr>
            </thead>
            <tbody>
                {% for business in businesses %}
                <tr>
                    <th scope="row">{{business.id}}</th>
                    <td><a href="{% url 'theater:business_detail' pk=business.pk %}" onclick="onClickTitle({{ business.id }})" ">{{business.title}}</a></td>
                    <td>{{business.user}}</td>
                    <td>{{business.created_at|date:'Y-m-d'}}</td>
                    <td>{{business.hits}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="business_create" href="{%url 'theater:info_enroll' %}"><button>글쓰기</button></a>
        <div class="board-pagination">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const onClickTitle = async (id) => {
            const url = "/business_hits_ajax/";
            const {data} = await axios.post(url,{id});
        }
    </script>
{% endblock %}