{% extends 'base.html' %}

{% block content %}
<div class="background" style="height: auto;">
    <div class="business">
        <div class="d-flex justify-content-end">
            <a class="business_detail_btn business_fix" href="{% url 'theater:business_fix'  pk=business.id%}"><button>수정하기</button></a>
            <a class="business_detail_btn business_delete" href="{% url 'theater:business_delete'  pk=business.id %}"><button>삭제하기</button></a>
        </div>
        <div class="business_detail">
            <p class="business_detail_left">{{business.title}}<p>
            <div class="business_detail_right">
                <p><i class="far fa-user"></i>{{business.user}}<p>
                <p>{{business.created_at|date:'Y-m-d'}}<p>
                <p><i class="far fa-eye"></i>{{business.hits}}<p>
            </div>
        </div>
        <div class="business_detail_content">{% autoescape on %}{{business.content|safe}}{% endautoescape %}</div>
        <div class="top" style="display: flex; justify-content: flex-end;">
            <a href="#" style="display: flex; align-items: center; ">
                <p style="margin: 0;">top</p>
                <i class="fas fa-caret-up"></i>
            </a>
        </div>
        <a class="business_list d-flex justify-content-center" onClick="history.go(-1)"><button>게시판으로 돌아기기</button></a>
    </div>
</div>


{% endblock content %}