{% extends 'base.html' %}

{% block content %}
<div class="background">
    <div class="business"> 
        <div style="display: flex; justify-content: flex-end;">
            <form  method="POST" action="{% url 'theater:business_search' %}">
                {% csrf_token %}     
                <div class="board-search">
                    <input placeholder="검색어를 입력하시오"  name="searched"/>
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
        <div style="display: flex; justify-content: center;">
            <p>'{{searched}}' 검색어로 검색한 결과입니다.</p>
        </div>
        <div class="board-header-count">총 {{business_list.count}}개의 글</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    <th scope="col">조회수</th>
                </tr>
            </thead>
            <tbody class="business-table">
                {% if paginated_business_lists %} 
                {% for paginated_business_list in paginated_business_lists %}
                <tr>
                    <th scope="row">{{paginated_business_list.id}}</th>
                <td><a href="{% url 'theater:business_detail' pk=paginated_business_list.pk %}" onclick="onClickTitle({{ paginated_business_list.id }})" ">{{paginated_business_list.title}}</a></td>
                    <td>{{paginated_business_list.user}}</td>
                    <td>{{paginated_business_list.created_at|date:'Y-m-d'}}</td>
                    <td>{{paginated_business_list.hits}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <td class="text-center">검색결과가 없습니다.<td>
                {% endif %}
            </tbody>
        </table>
        <a class="business_create" href="{% url 'theater:business_enroll' %}"><button >글쓰기</button></a>
        <div class="top" style="display: flex; justify-content: flex-end;">
            <a href="#" style="display: flex; align-items: center; ">
                <p style="margin: 0;">top</p>
                <i class="fas fa-caret-up"></i>
            </a>
        </div>
        <div class="board-pagination">
            <ul class="pagination">
                <!-- 이전페이지 -->
                {% if paginated_business_lists.has_previous %}
                <li class="page-item">
                    <a class="page-link" tabindex="-1"  href="?page={{ paginated_business_lists.previous_page_number }}">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">이전</a>
                </li>
                {% endif %}
                <!-- 페이지리스트 -->
                {% for page_number in paginated_business_lists.paginator.page_range %}
                    {{page.number}}
                    <!--현재 페이지일 때는 active-->
                    {% if page_number == paginated_business_lists.number %} 
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if paginated_business_lists.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ business_lists.next_page_number }}">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" href="#">다음</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const onClickTitle = async (id) => {
        const url = "/business_hits_ajax/";
        const {data} = await axios.post(url,{id});
    }
</script>
{% endblock %}