{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}

<div class="enroll">
    <div class="title">영상 등록</div>
 <div class="form_block">
     <div class="main_text">영상 타이틀</div>
     <div class="sub_text">영상을 대표할 수 있거나 영상의 타이틀 제목을 적어주세요</div>
    {{form.title}}
</div>
<!-- 라인 -->
<div class="form_line">
<div class="form_block">
    <div class="main_text">영상 감독</div>
    <div class="sub_text">영상의 제작 과정을 맡은 감독을 적어주세요</div>
    {{form.director}}
</div>
<div class="cutline"></div>
<div class="form_block">
    <div class="main_text">주요 출연진</div>
    <div class="sub_text">영상에 출연한 주요 출연진 및 주연 배우들을 적어주세요!</div>
    {{form.actor}}
    <div class="plus_text">입력 형식은 김철수, 이철수, 나철수  이런식으로 적어주세요!</div>
</div>
</div>

<div class="line_bottom"></div> 
<!-- 라인 -->
<div class="form_block">
    <div class="main_text">영상 포스터 혹은 이미지</div>
    <div class="sub_text">영상을 대표할 수 있거나 영상의 포스터와 같은 이미지 파일을 업로드 해주세요</div>
    {{form.poster}}
    <div class="plus_text">파일 형식은 jpg 또는 png 또는 gif로,
        사이즈는 가로 200px, 세로 200px 이상으로 올려주세요.</div>
</div>
<div class="form_line">
<div class="form_block">
    <div class="main_text">영상 장르</div>
    <div class="sub_text">영상의 장르를 선택해 주세요</div>
    {{form.genre}}
</div>
<div class="cutline"></div>
<div class="form_block">
    <div class="main_text">영상 개봉일</div>
    <div class="sub_text">영상의 개봉 날짜,혹은 개봉 예상일을 적어주세요!</div>
    {{form.release_date}}
</div>
</div>
<div class="line_bottom"></div> 
<!-- line -->
<div class="form_block">
    <div class="main_text">영상 개봉 여부</div>
    <div class="sub_text">영상의 개봉 여부를 적어주세요! 영상이 개봉되었다면 차트 페이지에, 개봉되지 않았다면 온라인 시사회로 올라갑니다!</div>
    {{form.comeout}}
</div>
<div class="form_text">
<div class="main_text">거의 끝났습니다!</div>
<div class="sub_text">지금까지의 내용만으로도 영화 등록은 가능합니다.</div><p></p>
<div class="sub_text">하지만 영상을 쉽게 파악하고 좋은 인상을 받을 수 있도록 추가 항목을 작성해주세요!</div>
</div>
<div class="line_bottom"></div> 
<div class="form_block">
    <div class="main_text">영상 소개</div>
    <div class="sub_text">영상을 소개하거나 영상에 대한 정보를 담고 있는 소개를 작성해주세요!</div>
    {{form.content}}
</div>
<div class="form_line">
<div class="form_block">
    <div class="main_text">영상 소개 영상, 예고편</div>
    <div class="sub_text">영상을 소개할 수 있는 영상이나 예고편이 있다면 올려주세요!</div>
    {{form.video}}
    <div class="plus_text">파일 형식은 mp4와 같은 
        동영상 포맷으로 올려주세요</div>
</div>
<div class="cutline"></div>
<div class="form_block">
    <div class="main_text">영상 러닝타임</div>
    <div class="sub_text">영상의 러닝타임을 적어주세요!</div>
    {{form.running_time}}
</div>
</div>
<div class="line_bottom"></div> 
<!-- 라인 -->
<div class="form_block">
    <div class="main_text">영상 URL or 펀딩 URL</div>
    <div class="sub_text">영상을 시청 또는 펀딩할 수있는 링크가 있다면 올려주세요! 영상을 구매할 수 있는 바로가기 링크도 좋습니다!</div>
    {{form.url}}
</div>
    <div class="form_text">
    <div class="main_text">끝났습니다!</div>
    <div class="sub_text">저희 주인없는 영화관에 영상을 등록해주신 점에 대해 다시 한번 감사의 말씀을 표합니다</div><p></p>
    <div class="sub_text">영상은 약간의 검수과정만 거치고 최대한 빠른 시일내에 영상 차트에 올라갈 예정입니다!</div>
</div>


<div class="button_area">
<input id="no_enroll" type="button" value="취소하기" onClick="history.go(-1)"> 
<input id="yes_enroll"type="submit" value="등록하기">


</div>
</div>
</form>


{% endblock%}
