{% extends 'base.html' %}

{% block content %}
<div class="pt-5" style="display: flex; justify-content: center; align-items: center; background-color: #f5f4f2">
  <form  method="POST" action="{% url 'theater:movie_search' %}">
      {% csrf_token %}     
      <div class="board-search">
          <input placeholder="검색어를 입력하시오" name="searched"/ >
          <button type="submit"><i class="fas fa-search"></i></button>
      </div>
  </form>
</div>
    <section class="page-section" style="background-color: #C1C1A0;" id="">
        <div class="container text-dark p-4">
          <div class="text-dark pb-2">
            <div class="vl"></div>
            <h5 class="section-heading mx-3">지금 인기 있는 영화</h5>
            <div class="d-flex justify-content-end">
              <!-- <a class="badge rounded-pill bg-warning text-dark" href="{% url 'theater:movie_list_popular' %}"></a> -->
            </div>
          </div>
        {% for movie in movies %}       
        <div class="col-md-4">
            <div class="card my-3" style="width: 100%">
              <img src="{{movie.poster.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">{{movie.title}}</h5>
                <span class="stars text-dark me-2 d-flex justify-content-center">{{movie.rating}}</span>
              </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </section>
    
<script>
    const rating = document.querySelectorAll(".stars");
    rating.forEach((value) => {
    let ratingStars = "";
    for (let i = 0; i < Math.floor(value.innerText); i++) {
      ratingStars += '<i class="fas fa-star"></i>';
    }
    if (value.innerText % 1) {
      ratingStars += '<i class="fas fa-star-half"></i>';
    }
    value.innerHTML = ratingStars;
  });
</script>



{% endblock %}