{% extends 'base.html' %}

{% block content %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<div class="section pt-5">
  <form  method="POST" action="{% url 'theater:movie_search' %}">
      {% csrf_token %}     
      <div class="movie_board-search" style="width:100%;">
          <input value="{{searched}}" name="searched" style="
          font-size: 1.4rem;
          margin-left: 0;
          border: 1px solid;
          border-radius: 2rem;
          width: 40rem;
          padding-left: 1.5rem;
      " />
        <div id="movie_search"class="d-flex justify-content-center" style="position: relative; right:2.5rem; width: 3rem; height: 3rem; border: 1px solid; border-radius: 6rem; background: black;">
          <button type="submit" style="background-color: black;"><i class="fas fa-search" style="color: white;"></i></button>
        </div>
      </div>
  </form>
</div> 

    {% if movies %}  
    <section class="page-section" id="" style="height: 79rem;">
        <div class="container text-dark p-4">         
          {% for movie in movies %}
          {%if movie.genre == '성인물(에로)' and request.user.age <= 19%}       
          <div class="col-md-3">
            <a data-bs-toggle="modal" data-bs-target="#Modalwhite">
              <div class="card mb-3" style="border-radius: 0!important;">
                <img src="{{movie.poster.url}}" class="card-img-top" alt="..." style="height: 40rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">{{movie.title}}</h5>
                  <span class="stars text-dark me-2 d-flex justify-content-center">{{movie.rating}}</span>
                </div>
              </div>
            </a>
          </div>
          {%else%}
          <div class="col-md-3">
            <a href="{% url 'theater:movie_detail' movie.id %}">
              <div class="card mb-3" style="border-radius: 0!important;">
                <img src="{{movie.poster.url}}" class="card-img-top" alt="..." style="height: 40rem;">
                <div class="card-body">
                  <h5 class="card-title text-center">{{movie.title}}</h5>
                  <span class="stars text-dark me-2 d-flex justify-content-center">{{movie.rating}}</span>
                </div>
              </div>
            </a>
          </div>
          {%endif%}
          {% endfor %}
      </div>
    </section>

    {% else %}
    <section class="page-section py-5" id="" style="height: 79rem;">
        <i class="fas fa-exclamation-circle d-flex justify-content-center fa-7x" style="margin-top:25rem"></i>
        <h1 class="d-flex justify-content-center text-center">검색된 영화가 없습니다.</h1>
    </section>
    {% endif %}

<script>
    const rating = document.querySelectorAll(".stars");
    rating.forEach((value) => {
    let ratingStars = "";
    for (let i = 0; i < Math.floor(value.innerText); i++) {
        ratingStars += '<i class="fas fa-star"></i>';
    }
    if (value.innerText % 1) {
        ratingStars += '<i class="fas fa-star-half"></i>';
    }
    value.innerHTML = ratingStars;
    });
</script>
<div class="modal fade" id="Modalwhite">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                
                <div class="modal-body">
                    <span>방금 클릭한 영화는 19세 이용가 입니다.</span>
                    <br><br>
                    <span style="color:red">만 19세 이하의 사용자는 열람이 불가능합니다.</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
    

{% endblock %}