{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
.sd {
    box-shadow: none;
}
</style>

<div class="section">
    <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item text-center px-5" style="background-color: #FC9763;">
            <h3 class="text-start m-0 mt-3">{{ movie.rating }}</h3>
            <img style="width: 10rem;" src="{% static 'img/diagnol.png' %}" alt="">
            <h3 class="text-start m-0 mb-3">5.0</h3>
      </li>
    </ul>
    <div class="d-flex flex-column my-3" style="background-color: white;">
        <a class="badge rounded-pill bg-dark text-light m-1 p-2" href="{% if movie.url %} {{movie.url}} {% endif %}">영상 링크</a>
        <a class="badge rounded-pill bg-dark text-light m-1 p-2" href="{% if movie.video %} {{movie.video.url}} {% endif %}">예고편</a>
        <a class="badge rounded-pill bg-dark text-light m-1 p-2" href="{% url 'theater:review_enroll' pk=movie.id%}">리뷰 작성</a>
    </div>    
</div>


    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card sd" style="width: 100%">

                <div class="jb-wrap">
                    <div class="text-center jb-image">
                        <img class="img-fluid" src="{{movie.poster.url}}"  alt="...">
                    </div>
                </div>

                    <div class="card-body">
                        <div>
                            <h5 class="text-start">Synopsis</h5>
                            <hr class="movie_detail_hr">
                            <div class="text-center">
                                <h2 class="movie_title my-5 prefont">{{ movie.title }}</h2>
                            </div>
                            <div class="card sd my-3 text-center" style="width: 100%">
                                <div class="prefont card-body m-2">
                                    <p>감독 | {{ movie.director }}</p>
                                    <p>장르 | {{ movie.genre }}</p>
                                    <p>출연 | {{ movie.actor }}</p>
                                    <p>개봉 | {{ movie.release_date }}</p>
                                </div>
                            </div>
                            <div class="text-center py-5 mx-5 px-5">{% autoescape on %}{{movie.content|safe}}{% endautoescape %}</div>
                            <h5 class="text-start">Review</h5>
                            <hr class="movie_detail_hr">
                                    {% for review in reviews %}
                                    <div class="col-md-3 mb-3" style="width: 100%">
                                        <div class="card text-center" style="width: 100%">
                                            <a href="{% url 'theater:review_detail' pk=review.id%}">
                                            <h3 class="review_title text-center mt-3 mb-0">{{review.title}}</h3>
                                            <span class="stars text-dark me-2 d-flex justify-content-center">{{review.rating}}</span>
                                            <div class="card-body">
                                              <p class="mt-3 mb-0">{{review.user}}</p>
                                              <div class="d-flex flex-column">
                                                  <div class="d-flex justify-content-end px-2">{{review.like}}</div>
                                                  <div class="d-flex justify-content-end"><svg width="20" height="auto" fill="#B1010D" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"/></svg></div>
                                              </div>
                                            </div>
                                        </a>
                                        </div>
                                    </div>
                                    {% endfor %}
                        </div>
                    </div>

                    <div class="text-center my-5 pt-3">
                        <a onClick="history.go(-1)"">
                            <button type="button" class="btn btn-dark rounded-pill my-5 text-center">목록</button>
                        </a>
                    </div>

                </div>     
            </div>    
        </div>  
    </div>      
</div>



<script>
const rating = document.querySelectorAll(".stars");
rating.forEach((value) => {
  let ratingStars = "";
  for (let i = 0; i < Math.floor(value.innerText); i++) {
    ratingStars += '<i class="fas fa-star"></i>';
  }
  if (value.innerText % 1) {
    ratingStars += '<i class="fas fa-star-half"></i>';
  }
  value.innerHTML = ratingStars;
});

</script>





{% endblock %}