{% extends 'base.html' %}

{% block content %}
    {% if movies %}  
    <form class="d-flex" method="POST" action="{% url 'theater:movie_search' %}">
        {% csrf_token %}        
        <input class="form-control me-2" type="search" placeholder="Search" name="searched" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"> Search </button>
    </form>
    <section class="page-section bg-warning" id="">
        <div class="container text-dark p-4">
        {% for movie in movies %}       
        <div class="col-md-4">
            <div class="card" style="width: 100%">
              <img src="{{movie.poster.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">{{movie.title}}</h5>
              </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </section>
    {% else %}
    <form class="d-flex" method="POST" action="{% url 'theater:movie_search' %}">
        {% csrf_token %}        
        <input class="form-control me-2" type="search" placeholder="Search" name="searched" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"> Search </button>
    </form>
    
    <section class="page-section bg-warning py-5" id="">
        <i class="fas fa-exclamation-circle d-flex justify-content-center"></i>
        <h1 class="text-center">검색된 영화가 없습니다.</h1>
    </section>
    {% endif %}
{% endblock %}