{% extends 'base.html' %}
{% load static %}
{% block content %}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>

<section class="page-section-background">
    <div class="like-container">
        <div class="mx-auto my-auto col-md-5">
            <div class="card review_detail_card mt-5 mb-5">
                <div class="card-body review-card-body">
                    <ul>
                        <li class="floatBox-left user-icon-position"> <img class="review_detail_user_icon" src="{{review.user.user_img}}" /></li>
                        <li class="floatBox-left user-position">{{ review.user.nickname }}</li>
                        <a href="{% url 'theater:movie_detail' review.movie.id %}"><li class="floatBox-right movie-position movie-button txt_line">{{ review.movie }}</li></a>
                        <br>
                        <hr>
                        <li class="col-md-12 h3" style="float:none; margin:0 auto;">{{ review.title }}</li>
                        <br>
                        <li class="col-md-12" style="float: none; margin:0 auto;">{% autoescape on %}{{ review.content|safe }}{% endautoescape %}</li>
                    </ul>
                        
                        <div class="movie-review-comment">
                            <div id="container">
                                <div class="floatBox-center">
                                    <input type="image" src="{% static 'img/like.png' %}" class="like-review" name="{{ review.id }}" value="Like">    
                                    <p id="count-{{ review.id }}" class="d-inline"> {{ review.likes_user.all.count }}</p>
                                </div>
                                <div class="floatBox-left"  >댓글창</div>
                                <div class="floatBox-right">posted at {{ review.created_at|date:'Y-m-d' }}</div>
                            </div>
                            <br>
                            
                            <!--<h2>커뮤니티</h2>-->
                
                
                <div class="movie-comment">
                    <hr class="prede_hr">

                    {% if user.is_authenticated %}

                    <div class="predeform center-block">
                        <div class="input">
                            <input id="comment_input-{{review.id}}" class="predeformsize" placeholder="기대평을 남겨주세요!" type="text"/>
                            <button class="predewritebtn" onclick="onClickComment({{review.id}}, 'write', '{{request.user}}')">작성</button>
                            <br>
                        </div>
                    </div>

                    {% else %}

                    <div class="predeform center-block">
                        <div class="input">
                            <input id="comment_input-{{review.id}}" class="predeformsize" type="text" value="로그인 후 이용할 수 있습니다." disabled/>
                            <button class="predewritebtn">작성</button>
                        </div>
                    </div>
                    


                    
                    {% endif %}



                    <div id="write_area"style="margin-top:4rem;" >

                        
                        <table class="comment-table-{{review.id}} rgy-reply" style="width:98%!important; margin-left:3rem;"> <!--width:900px-->
                            {% for comment in review.commentreview_set.all %}
                            <tr id="review_commentbox" class = "comment-{{comment.id}}" style="display:flex; justify-content: space-between; margin-top:2rem;">
                                <td id="comment_inputuser-{{review.id}}" style="width:15%">
                                    <img src="{{comment.user.user_img}}"  class="detail-user-img2" alt="...">
                                    <p style="margin-left:0.5rem;">{{comment.user.nickname}} </p>
                                    
                                </td>


                                <td style="width:82.6%">
                                   
                                    <input type="text" class="replyContent{{ comment.id }} prefont" value="{{ comment.content }}" style="width:auto; height: auto; border:0 solid black; background-color: rgba(255, 255, 255, 0.466); font-size:larger" readonly>
                                    <p>
                                        <span class="prefont">{{comment.created_at}}</span> 
                                        {% if user == comment.user %}
                                        <span style="margin-left: 1rem;"></span>
                                        <div class="commentbutton_flex">
                                        <button class="tdReplyDelete{{comment.id}} prededelmodibtn" onclick="onClickDel({{comment.id}})">삭제</button>
                                        <span id="comment_line">|</span>
                                        
                                        <button class="tdReplyUpdate{{ comment.id }}"><input type="button" class="prededelmodibtn" value="수정" onclick="replyUpdate({{ comment.id }})"></button>
                                        <button class="tdReplySubmit{{ comment.id }}" style="display:none"><input type="button"  class="prededelmodibtn" value="확인" onclick="replySubmit({{ comment.id }})"></button>
                                        <button class="tdReplyUpdateCancel{{ comment.id }}" style="display:none"><input type="button" class="prededelmodibtn"  value="취소" onclick="replyUpdateCancel({{ comment.id }})"></button>
                                    </div>

                                        {% else %}
                                        {% endif %}


                                    </p>
                                    
                                </td>
            
                                
            
                                
            
                                
                            </tr>
                            {% endfor %}
                        </table>
            
                    </div>
                            <!-- {% if user.is_authenticated %}
                            <section class="input">
                                <input id="comment_input-{{review.id}}" placeholder="댓글을 남겨주세요" type="text"/>
                                <button class="btn" onclick="onClickComment({{review.id}}, 'write', '{{request.user}}')">작성</button>
                            </section>
                            {% else %}
                            로그인 후 이용할 수 있습니다.
                            {% endif %}                            
                                <table class="comment-table-{{review.id}}">
                                    {% for comment in review.commentreview_set.all %}
                                    <tr class = "comment-{{comment.id}}">
                                        <td>{{comment.user}} </td>
                                        <td>{{comment.content}} </td>
                                        <td>{{comment.created_at}} </td>
                                        <td class="btn post__like" onclick="onClickLike({{ comment.id }}, 'like-review')">좋아요 {{ comment.like }}</td>
                    
                                        {% if user == comment.user %}
                                        <td>
                                            <button class="del-btn" onclick="onClickDel({{comment.id}})">삭제</button>
                                        </td>
                                        {% else %}
                                        {% endif %}
                                    </tr>
                                    {% endfor %} -->
                                    <div style="display:flex; justify-content: center;">
                                        <a class="predelistbtn" type="button" style="text-align:center;" href="{% url 'theater:review_board' %}">목록</a>
                                    </div>
                                </table>
                                
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>







<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>

    
    

//////////////////////////////////////////////////////////////////////////////////////////////////////////
    
        const requestComment = new XMLHttpRequest();
        const requestDel = new XMLHttpRequest();

        //var pk=`${pk}`
        //var pk= $(`pk`).val();
    
        const onClickComment = (id, type, user) => {
            //const url = "/preview/{{pk}}/write_comment/";

            var url= "{% url 'theater:write_review_comment' review.id %}"
            //console.log("hii")
            //console.log({pk}+"gg")
            //console.log({user})

            //var point = {{request.user.mileage}}

            //point = point + 5

            //console.log(point)
            

            //var comid=`${comment_id}`
            //var comid=`${comment_id}`
            //var comid= $(`pk`).val();
            //console.log(comid)

            const content = document.getElementById(`comment_input-${id}`).value



            //const user=1

            //let user = 1;
            
            //const user = document.getElementById(`comment_inputuser-${id}`).value ////유저
            requestComment.open("POST", url, true);
            requestComment.setRequestHeader(
                "Content-Type", "application/x-www-form-urlencoded"
            );
            requestComment.send(JSON.stringify({id: id, type: type, content: content, user:user}));
        }

    
        requestComment.onreadystatechange = () => {
            if(requestComment.readyState === XMLHttpRequest.DONE){
                WriteHandleResponse();
            }
        }
    
        const WriteHandleResponse = () => {
            if (requestComment.status < 400){

                
                Date.prototype.format = function (f) {

                    if (!this.valueOf()) return " ";



                    var weekKorName = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];

                    var weekKorShortName = ["일", "월", "화", "수", "목", "금", "토"];

                    var weekEngName = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

                    var weekEngShortName = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

                    var weekNum = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"];

                    var d = this;



                    return f.replace(/(yyyy|yy|MM|dd|KS|NS|KL|ES|EL|HH|hh|mm|ss|a\/p)/gi, function ($1) {

                        switch ($1) {

                            case "yyyy": return d.getFullYear(); // 년 (4자리)

                            case "yy": return (d.getFullYear() % 1000).zf(2); // 년 (2자리)

                            case "MM": return (d.getMonth() + 1).zf(2); // 월 (2자리)

                            case "dd": return d.getDate().zf(2); // 일 (2자리)

                            case "KS": return weekKorShortName[d.getDay()]; // 요일 (짧은 한글)

                            case "NS" : return weekNum[d.getMonth()];

                            case "KL": return weekKorName[d.getDay()]; // 요일 (긴 한글)

                            case "ES": return weekEngShortName[d.getDay()]; // 요일 (짧은 영어)

                            case "EL": return weekEngName[d.getDay()]; // 요일 (긴 영어)

                            case "HH": return d.getHours().zf(2); // 시간 (24시간 기준, 2자리)

                            case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2); // 시간 (12시간 기준, 2자리)

                            case "mm": return d.getMinutes().zf(2); // 분 (2자리)

                            case "ss": return d.getSeconds().zf(2); // 초 (2자리)

                            case "a/p": return d.getHours() < 12 ? "오전" : "오후"; // 오전/오후 구분

                            default: return $1;

                        }

                    });

                    };



                String.prototype.string = function (len) { var s = '', i = 0; while (i++ < len) { s += this; } return s; };

                String.prototype.zf = function (len) { return "0".string(len - this.length) + this; };

                Number.prototype.zf = function (len) { return this.toString().zf(len); };


                var _today = new Date(); // 예제 기준 시간 : 2000-01-01 13:12:12



                const {id, type, content, comment_id, user, user_img} = JSON.parse(requestComment.response);
                const element = document.querySelector(`.comment-table-${id}`);
                const new_comment = document.createElement("tr");  /////////////////
                const comment_content = document.createElement("td");    
                const del = document.createElement("td");

                const comment_user = document.createElement("td");  ///3

                const comment_user_img=document.createElement("td");//5

                //const update = document.getElementsByClassName("tdReplyUpdate${ comment.id }$"); //4
                //var x = document.getElementsByClassName("example");
                //class="tdReplyUpdate{{ comment.id }}"

                const update = document.createElement("td"); //4!!!수정필요
                //const update = document.createElement("td").style.display='inline-block'; //4

                // const like = document.createElement("td"); //4!!!수정필요

                // const date = document.createElement("td"); //4!!!수정필요

                ///.

                let tdReplyUpdate = document.querySelector(`.tdReplyUpdate${id}`);
                let tdReplyDelete = document.querySelector(`.tdReplyDelete${id}`);

                let replyContent=document.querySelector(`.replyContent${id}`);
                ///.            
    
                new_comment.setAttribute("class", `comment-${comment_id} writehandletr2 predetrline`); //////////////

                comment_user.setAttribute("class", `predewidth15_2`); //////////////

                comment_content.setAttribute("class", `predewidth70_2`); //////////////

                
                

                //.
                //console.log({user});

                
                


                comment_user.innerHTML = `<td id="comment_inputuser-{{review.id}}" style="width:10%">
                                            <img src="${user_img}"  class="detail-user-img2" alt="...">
                                            <p style="margin-left:0.5rem;">${user} </p>
                                    
                                          </td>`; //3

                //comment_user.innerHTML = `${user}`; //3

                comment_content.innerHTML = `<td class='comment_tool'style="width:75%"><input type="text" class="replyContent{{ comment.id }} prefont" value="${content}" id="value_comment" style="width:30%; border:0 solid black; background-color: rgba(255, 255, 255, 0.466); font-size:larger" readonly>
                                    <p>
                                        <span class="prefont_2">${_today.format('yyyy년 NS월 dd일 hh:mm a/p')}</span>
                                        <span style="margin-left: 1rem;"></span>
                                        <div class=commentbutton_flex2>
                                        <button class="tdReplyDelete{{comment.id}} prededelmodibtn" onclick="onClickDel(${comment_id})">삭제</button>
                                        <span >|</span>
                                        <button class="tdReplyUpdate(${comment_id})"><input type="button" class="prededelmodibtn" value="수정" onclick="replyUpdate(${comment_id})"></button>
                                        <button class="tdReplySubmit(${comment_id}) predestylejs "><input type="button"  class="prededelmodibtn" value="확인" onclick="replySubmit(${comment_id})"></button>
                                        <button class="tdReplyUpdateCancel(${comment_id}) predestylejs"><input type="button" class="prededelmodibtn"  value="취소" onclick="replyUpdateCancel(${comment_id})"></button>
                                        </div>


                                    </p>
                                    
                                </td>`; //1

                //comment_content.innerHTML = `${content}`; //1

                //comment_user_img.innerHTML = `<img src="${user_img}"  class="detail-user-img" alt="...">`; //3

                /*if(`${content}`==null){

                    alert("댓글입력해주세요");
                    console.log("댓글X");
                    
                }*/

                const likezero=0;
    
                del.innerHTML = `<td><button onclick="onClickDel(${comment_id})">삭제</button></td>`; //1
                //update.innerHTML = `<button onclick="replyUpdate(${comment_id})">수정</button>`; //1
                update.innerHTML =`<td class="tdReplyUpdate(${comment_id})"><input type="button" value="수정" onclick="replyUpdate(${comment_id})"></td>`

                //like.innerHTML = `<td class="like"><button>좋아요</button></td>`;
                
                //like.innerHTML=`<button onclick="onClickLike(${comment_id})">좋아요</button>`;
                
                //like.innerHTML=`<button onclick="onClickLike(${comment_id})">좋아요 ${ like }</button>`;

                //<td class="btn post__like" onclick="onClickLike({{ comment.id }}, 'like')">좋아요 {{ comment.like }}</td>
                //comment_content.innerHTML = `${user}`; //2

                ///tdReplyUpdate.innerHTML=`<button onclick="replyUpdate(${comment_id})">수정</button>`; //2

                //tdReplyUpdate.innerHTML=`<td><input type="button" value="수정" onclick="replyUpdate({{ comment.id }})"></td>`; //2
                

                


                console.log(_today.format('yyyy-MM-dd'));



                console.log(_today.format('HH:mm:ss'));



                console.log(_today.format('yyyy-MM-dd(KS) HH:mm:ss'));



                console.log(_today.format('yyyy-MM-dd a/p hh:mm:ss'));



                //var now = new Date();

                
                
                //date.innerHTML= `${_today.format('NS월 dd, yyyy, hh:mm a/p')}`; //3
                //date.innerHTML= `${user}`; //3

                //.
    
                document.getElementById(`comment_input-${id}`).value = '';
                
    
                element.append(new_comment);

                new_comment.appendChild(comment_user);//3
                //new_comment.appendChild(comment_user_img);//3
                new_comment.appendChild(comment_content);

                new_comment.appendChild(date);//3

                

                //new_comment.appendChild(del);
                //new_comment.appendChild(update);

                //new_comment.appendChild(like);
                ///new_comment.appendChild(tdReplyUpdate);

                
            };
        };
    
    
//////////////////////////////////////////////////////////////////////////////////////////////////////////

        const onClickDel = (id) => {
            const url = "{% url 'theater:del_review_comment' review.id %}";
            requestDel.open("POST", url, true);
            requestDel.setRequestHeader(
                "Content-Type", "application/x-www-form-urlencoded"
            );
            requestDel.send(JSON.stringify({id: id}))
        }
    
        const DelHandleResponse = () => {
            if (requestDel.status < 400){
                const {id} = JSON.parse(requestDel.response)
    
                const element = document.querySelector(`.comment-${id}`)
                element.remove();
    
            }
        }
    
        requestDel.onreadystatechange = () => {
            if(requestDel.readyState === XMLHttpRequest.DONE){
                DelHandleResponse();
            }
        }

        ////////////////////////////
        const replyUpdate = (id) => {
            let tdReplyUpdate = document.querySelector(`.tdReplyUpdate${id}`);
            let tdReplyDelete = document.querySelector(`.tdReplyDelete${id}`);
            let tdReplySubmit = document.querySelector(`.tdReplySubmit${id}`);
            let tdReplyUpdateCancel = document.querySelector(`.tdReplyUpdateCancel${id}`);

            let replyContent=document.querySelector(`.replyContent${id}`);

            console.log(tdReplyUpdate);

            //document.getElementById('Noite').style.display='block';

            //document.getElementsByClassName('tdReplyUpdate').style.display = 'block';
            //document.getElementsByClassName('tdReplyDelete').style.display = 'block';
            //document.getElementsByClassName('tdReplySubmit').style.display = 'inline-block';
            //document.getElementsByClassName('tdReplyUpdateCancel').style.display = 'inline-block';


            tdReplyUpdate.style.display = 'none';
            tdReplyDelete.style.display = 'none';
            tdReplySubmit.style.display = 'inline-block';
            tdReplyUpdateCancel.style.display = 'inline-block';

            replyContent.readOnly=false;
        }

        const replySubmit = (id) => {
            let replyContent = document.querySelector(`.replyContent${id}`).value;
            let param = {
            'id': id,
            'content': replyContent
            }

            $.ajax({
                url : "{% url 'theater:review_replyUpdate' review.id %}",
                type : 'POST',
                headers:{
                    'X-CSRFTOKEN' : '{{ csrf_token}}'

                },
                data : JSON.stringify(param),
                success:function(data){
                    console.log(data);

                    if(data.result=='ok'){
                        let tdReplyUpdate = document.querySelector(`.tdReplyUpdate${id}`);
                        let tdReplyDelete = document.querySelector(`.tdReplyDelete${id}`);
                        let tdReplySubmit = document.querySelector(`.tdReplySubmit${id}`);
                        let tdReplyUpdateCancel = document.querySelector(`.tdReplyUpdateCancel${id}`);
                        let replyContent=document.querySelector(`.replyContent${id}`);

                        tdReplyUpdate.style.display = 'inline-block';
                        tdReplyDelete.style.display = 'inline-block';
                        tdReplySubmit.style.display = 'none';
                        tdReplyUpdateCancel.style.display = 'none';
                        replyContent.readOnly=true;
                    }
                },
                error:function(){
                    alert('안돼');
                }


            });
            
        }

        const replyUpdateCancel = (id) => {
            let tdReplyUpdate = document.querySelector(`.tdReplyUpdate${id}`);
            let tdReplyDelete = document.querySelector(`.tdReplyDelete${id}`);
            let tdReplySubmit = document.querySelector(`.tdReplySubmit${id}`);
            let tdReplyUpdateCancel = document.querySelector(`.tdReplyUpdateCancel${id}`);

            let replyContent=document.querySelector(`.replyContent${id}`);

            console.log(tdReplyUpdate);
            tdReplyUpdate.style.display = 'inline-block';
            tdReplyDelete.style.display = 'inline-block';
            tdReplySubmit.style.display = 'none';
            tdReplyUpdateCancel.style.display = 'none';

            replyContent.readOnly=false;
        }


    </script>

</body>
</html>




<script type="text/javascript">
    $(".like-review").click(function () { // .like 버튼을 클릭 감지
        var pk = $(this).attr('name')
        $.ajax({ // ajax로 서버와 통신
            type: "POST", // 데이터를 전송하는 방법
            url: "{% url 'theater:review_like' %}", // 통신할 url을 지정
            data: { 'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' }, // 서버로 데이터 전송시 옵션, pk를 넘겨야 어떤 review인지 알 수 있음
            dataType: "json",
            success: function (response) { // 성공
                alert(response.message);
                $("#count-" + pk).html(response.likes_count); // 좋아요 개수 변경
            },
            error: function (request, status, error) { // 실패
            alert("로그인이 필요합니다.")
            // window.location.replace("/account/login/") // 로그인 페이지로 넘어가기
        },
        });
    })
</script>
{% endblock %}


